* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    background-color: #C4DDFF;
}

.signOutBtn {
    position: absolute;
    top: 1rem;
    right: 2rem;
    padding: 6px 14px;
    border: 1px solid #adabab;
    border-radius: 5px;
    color: #fff;
    background-color: #9c9c9c;
}

.signOutBtn:hover {
    background-color: #dd4848;
}

.error{
    color: #FF3333;
    font-size: 16px;
    text-transform: capitalize;
}